<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>17/10/04 14:53:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ALMintegration.close()[pri:0, instance:seleniumfirstclass.ALMintegration@3fee9989]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/04 14:53:24</td>   <td>-4151</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ALMintegration.init()[pri:0, instance:seleniumfirstclass.ALMintegration@3fee9989]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/04 14:53:28</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ALMintegration.login()[pri:0, instance:seleniumfirstclass.ALMintegration@3fee9989]">login</td> 
  <td>main@329645619</td>   <td></td> </tr>
</table>
